rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /artifacts/{appId}/clinics/{clinicId}/{document=**} {
      allow read, write: if request.auth != null;
    }
  }
}
